body {
     font-family:        Tacoma, Arial, serif;
     font-size:                         0.6em;
     width:                             680px;
     background-color:                #ffff55;
     background-image:     url(hwbckgrnd.jpg);
    }
h2 {
   color:                               black;
   font-size:                           0.6em;
   }
li {
   margin-left:                           0px;
   margin-right:                          0px;
   margin-top:                           15px;
   margin-bottom:                        15px;
   }
